################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CTree
/CTree/bin/Debug/net7.0
/CTree/obj
